.input__eye {
  position: absolute;
  right: 16px;
  bottom: 17px;
  width: 17px;
  background: red;
  height: 12px;
}
.eye_open {
  background: url("../../../public/assets/icons/eye-open.svg") center center
    no-repeat;
  background-size: contain;
}
.eye_close {
  background: url("../../../public/assets/icons/eye-close.svg") center center
    no-repeat;
  background-size: contain;
  width: 20;
  height: 14px;
}
.input_pass_wrapper {
  position: relative;
  width: 100%;
}
