.form__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 12px;
}
.form__auth {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #a5acb7;
  margin-bottom: 32px;
  a {
    color: #63efaf;
  }
}
