.btn__sbmt {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  width: 180px;
  height: 43px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  border-radius: 8px;
  outline: none;
  background: linear-gradient(-90deg, #63efaf, #08aeea);
  border-style: none;
  cursor: pointer;
  padding: 0;
  margin-bottom: 24px;
  &:active {
    outline: none;
  }
  &::before {
    content: "";
    border-radius: 8px;
    width: 178px;
    height: 41px;
    position: absolute;
    background-color: #293038;
  }
}
.btn__txt__wrapper {
  position: relative;
}
