.logo {
  font-weight: bold;
  font-size: 51px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  span {
    color: #63efaf;
  }
}
